<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653790833239-vcmoih4q5jfcl5i17olfnbvptg0v2e1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653790833239-vcmoih4q5jfcl5i17olfnbvptg0v2e1q</string>
	<key>API_KEY</key>
	<string>AIzaSyCG80NMPDWYyNEVHKKvp59Tas5X4z-Fz0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>653790833239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.polyakov.myVK</string>
	<key>PROJECT_ID</key>
	<string>vkapp-9248f</string>
	<key>STORAGE_BUCKET</key>
	<string>vkapp-9248f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653790833239:ios:532454f870b92ca4f95112</string>
</dict>
</plist>